################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vanaspati2.0/obj/Debug/net9.0
/Vanaspati2.0/obj
